@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 80px;
  background-color: #dfebdf;
}

.threejs {
  padding: 0;
  overflow: visible;
  width: 10%;
  /* border: 1px #0083cf solid; */
  position: relative;
}

.second {
  /* width: 80%; */
  background-color: lightblue;
  /* flex-grow: 1; */
}
